<div id="main-content" class="container individual-wrapper">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center"><%= current_user.first_name %>'s tasks - <%= Date.today.strftime("%B #{Date.today.day.ordinalize}, %Y") %> </h3>
    </div>
  </div>

  <div class="row" style="padding-top:20px;">
    <div class="col-xs-12">
      <table class="table">
        <thead>

          <form class="form-inline" data-remote="true">
            <tr class="well">
              <th> </th>
              <th>
                <input type="text" placeholder="Name" class="form-control" id="name">
              </th>
              <th>
                  <input type="text" placeholder="Description" class="form-control" id="description">
              </th>
              <th>
                <button class="btn btn-info btn-raised btn-xs js-create-task pull-right" rel="tooltip" title"Add Task"> <i class="fa fa-plus"></i></button>
              </th>
            </tr>
          </form>
        </thead>
        <tbody id="sortable" class="js-task-list">
          <%= render partial: 'task_list' %>
        </tbody>
      </table>
    </div>
  </div>
</div>
