<div id="main-content" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Settings</h1>
      <%= render partial: 'users/form',
                 locals: { user: @user } %>
    </div>
  </div>
</div>
