<nav class="navbar navbar-default">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><%= ENV["GENESIS_PROJECT_NAME"].humanize %></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="/"><i class="fa fa-tasks" aria-hidden="true"></i> Tasks</a></li>
      <li><a href="/reports"><i class="fa fa-list-alt" aria-hidden="true"></i>Reports</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if @current_user.nil? %>
        <li><%= link_to 'Sign In', login_path %></li>
      <% end %>
      <% if @current_user.present? %>
        <li><%= link_to '<i class="fa fa-cogs" aria-hidden="true"></i>Settings'.html_safe, edit_user_path(@current_user) %></li>
        <li><%= link_to '<i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out'.html_safe, logout_path %></li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
