<div id="main-content" class="container individual-wrapper">

  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th></th>
            <th>Email</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @recipients.each do |recipient| %>
            <tr class="js-recipient-<%= recipient.id %>">
              <td></td>
              <td><%= recipient.full_name %></td>
              <td></td>
              <td><%= recipient.email %></td>
              <td class="td-actions text-right">
                <div class="btn btn-danger btn-raised btn-xs js-delete-recipient" type="button" rel="tooltip" title="Remove" id="<%= recipient.id %>"> <i class="fa fa-times"></i> </div>
              </td>
            </tr>
          <% end %>

          <form class="form-inline">
            <tr class="well">
              <td> </td>
              <td>
                <input type="text" placeholder="First Name" class="form-control" id="first_name">
              </td>
              <td>
                <input type="text" placeholder="Last Name" class="form-control" id="last_name">
              </td>
              <td>
                <div class="form-group">
                  <input type="email" placeholder="email" class="form-control" id="email">
                </div>
              </td>
              <td>
                <button type="submit" class="btn btn-info btn-raised btn-xs js-create-recipient pull-right" rel="tooltip" title"Add Report Recipient"> <i class="fa fa-plus"></i></button>
              </td>
            </tr>
          </form>
        </tbody>
      </table>
    </div>
  </div>
</div>
