<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <center>
        <br />
        <br />
        <br />
        <h1>Turtle-Shell.io</h1>
        <p> We got your back! </p>
        <br />
        <br />
        <br />
        </center>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= render partial: 'sessions/new' %>
      </div>
    </div>
  </div>
</section>

<aside class="bg-primary">
  <div class="container text-center">
    <div class="call-to-action">
        <br />
        <br />
      <h2>Making Professional Weekly Reports Easy!</h2>

      <p>Whether you are an employee for a corporation or a freelancer, you need to have an excellent relationship with your employer or client.</p>
      <p>Communication is one of the most important things you should have in order to continuously build trust and make your work valuable.</p>
      <p>A weekly report is a simple and easy way you can build trust on your job and make the life of your manager easier.</p>
        <br />
        <br />
    </div>
  </div>
</aside>


        <br />
        <br />
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Made By Developers For Developers</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Open Sourced</h3>
                        <p class="text-muted">Written in Ruby on Rails and open-sourced.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Automatic Weekly Emails</h3>
                        <p class="text-muted">Automatically update your superiors about your weekly progress!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-money text-primary sr-icons"></i>
                        <h3>Leads to Raises</h3>
                        <p class="text-muted">Increasing your visibility has a direct correlation to more frequent raises.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Build trust with your boss</h3>
                        <p class="text-muted">Build a relationship with your boss and superiors!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <br />
        <br />
