<div id="main-content" class="container individual-wrapper">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-right">
        <a href="/reports"><i class="fa fa-list-alt" aria-hidden="true"></i> Weekly Reports</a>
      </div>
      <h3 class="text-center"><%= current_user.full_name %>'s Yearly Reports </h3>
    </div>
  </div>

  <div class="row" style="padding-top:20px;">
    <div class="col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th>Report</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @reports.each do |report| %>
            <tr>
              <td><%= link_to "#{report.clean_start_date}", yearly_report_path(report.id) %></td>
              <td><%= link_to "<i class='fa fa-file-pdf-o' aria-hidden='true'></i> Download".html_safe, yearly_report_path(report.id, :format => :pdf) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
